html {
    scroll-behavior: smooth;
}

body {
  background-color: #253958;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #ccc9dc;
	margin: 0;
	padding: 0;
}

canvas {
	background-color: #253958;
	position: absolute;
	top: 50px;
	z-index: -1;
}

::-webkit-scrollbar {
	background: #222222;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #444444;
}

a {
	color: #ccc9dc;
	transition: 100ms;
}

a:hover {
	color: #e3e2eb;
}

a img:hover {
	transform: scale(1.01);
}

/* navbar */

nav {
	background-color: black;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: fixed;
	top: 0;
	z-index: 100;
}

.nav-item {
	font-weight: 500;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a.nav-item:hover {
	transform: scale(1.1);
	text-decoration: none;
}

#active {
	color: white;
	font-weight: bold;
}

/* header */
#header {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: calc(4rem + 1vw / 2);
}

/* body */

.category {
  color: rgb(0, 192, 192);
  font-weight: 1000;
  margin: 0 0 0 5px;
}

.project-img {
	width: 100%;
	border: 3px #0c1821 solid;
	margin-bottom: 10px;
	transition: 100ms;
}

.project-title {
	color: white;
	font-weight: bold;
	margin-bottom: 2px;
}

.project-desc {
	color: #ccc9dc;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 100px;
}

/* footer */

#footer {
	background-color: #0c1821;
	width: 100%;
	height: auto;
	padding: 50px;
	margin-top: 5%;
}

.sec-col {
	margin-bottom: 50px;
}

.sec-title {
	color: white;
	font-weight: bold;
}

.sec-link {
	font-size: 18px;
	font-weight: 500;
}
