:root {
  --background: #324A5F;
  --navbar: black;
  --darkbg: #1B2A41;
  --lightbg: #466A8A;
  --footer: #0C1821;
  --lbtext: #7FDFFD;
  --aquatext: #CCC9DC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

/* helpful classes */
.link {
  color: lightgray;
  text-decoration: none;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.link:hover { filter: brightness(1.2); }

.link::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 100%; bottom: 0; left: 0; right: 0;
  background: var(--lbtext);
  transform: scaleX(0);
  transition: transform 150ms;
}

.link:hover::after { transform: scaleX(1); }

/* navbar */
nav {
  background: var(--navbar);
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

nav span { 
  color: white; 
  font-weight: bold; 
  font-size: 1.2rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

nav a {
  font-style: inherit;
  font-size: 1.2rem;
}

/* header */
header {
  width: 100%;
  background: var(--darkbg);
  height: calc(100vh - 60px);
  display: grid;
  place-items: center;
  position: relative;
}

header canvas {
  position: absolute;
  top: 0; left: 0;
}

header h1 {
  color: white;
  font-size: 7rem;
  width: 100%;
  text-align: center;
  position: relative;
}

header h1::before {
  content: "Jinkang Fang's";
  color: var(--aquatext);
  position: absolute;
  transform: translate(30%, -80%);
  font-size: 2.5rem;
}

header h1::selection {
  background: rebeccapurple;
  color: lightgray;
}

/* intro section */
section {
  width: 100%;
  display: flex;
  margin: 100px 0;
}

.face-frame {
  width: 25%;
  height: 400px;
  background: var(--lightbg);
  clip-path: polygon(0 0, 100% 10%, 80% 90%, 0 100%);
  display: grid;
  place-items: center;
}

.face-frame svg { 
  transform: translateX(-15%); 
  transition: 100ms;
}

#face { cursor: pointer; }

#hair { transition: 150ms; }
#face:active #hair { transform: rotateZ(-50deg) translateX(-55%); }

.dialogue {
  width: 69%;
  margin-left: 2%;
  height: 400px;
  background: var(--lightbg);
  clip-path: polygon(0 50%, 5% 45%, 15% 10%, 75% 0, 100% 25%, 95% 85%, 50% 100%, 15% 90%, 5% 55%);
  display: grid;
  place-items: center;
}

.dialogue p {
  width: 60%;
  color: var(--aquatext);
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .face-frame { width: 40%; }
  /* .dialogue { height: 300px; } */
}

/* featured projects */

body > h1 {
  font-size: 5rem;
  color: white;
  text-align: center;
  margin: 100px 0;
}

.featured {
  width: 80%;
  margin: 150px auto;
  display: grid;
}

.featured h4 {
  color: var(--lbtext);
  font-size: 1.1rem;
  grid-area: category;
}

.featured h2 {
  color: white;
  font-size: 2.2rem;
  grid-area: title;
}

.featured p {
  color: var(--aquatext);
  font-size: 1.2rem;
  width: 80%;
  grid-area: desc;
}

.featured a { grid-area: img; }
.featured img {
  width: 100%;
  border: 2px black solid;
  transition: 100ms;
}

.featured img:hover { transform: translate(-5px, -2px); }

#featured1 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5rem 3rem auto;
  grid-template-areas: 
    'category img'
    'title img'
    'desc img';
}

#featured2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5rem auto 1fr;
  grid-template-areas: 
    'category category'
    'title img'
    'desc img';
}

#featured2 { padding-left: 10%; }
#featured2 h4 { text-align: right; }

#featured3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5rem 3rem auto;
  grid-template-areas: 
    'category category'
    'img title'
    'img desc';
}

#featured3 { padding-right: 10%; }
#featured3 p, #featured3 h2 { margin-left: 10%; }

/* more projects link */
body > span {
  margin: 100px 0;
  display: block;
  text-align: center;
}

body > span a { font-size: 1.5rem; }

/* contact footer */
footer {
  width: 100%;
  height: 250px;
  background: var(--footer);
  display: flex;
  padding: 5% 15%;
  gap: 15%;
}

footer div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer div h2 {
  color: white;
  font-size: 1.5rem;
}

footer div a { font-size: 1.2rem; }

/* media queries */
@media (max-width: 700px) {

  header h1 { font-size: 5rem; }
  header h1::before { 
    font-size: 2rem;
    transform: translate(20%, -80%); 
  }
  
  section { flex-direction: column; }
  
  .face-frame { width: 50%; }

  .dialogue { 
    width: 90%;
    margin: auto;
    clip-path: polygon(10% 0, 15% 10%, 75% 0, 100% 25%, 95% 85%, 50% 100%, 15% 90%, 10% 40%);
  }

  .dialogue p { 
    width: 80%;
    transform: translateX(10%);
  }

  body > h1 { font-size: 3.5rem; }

  #featured1, #featured2, #featured3 { 
    padding: 0; 
    grid-template-columns: none;
    grid-template-rows: 2rem auto 3rem auto;
    grid-template-areas: 
      'category'
      'img'
      'title'
      'desc';
  }
  
  #featured2 h4 { text-align: left; }
  #featured3 p, #featured3 h2 { margin: 0; }

}

@media (max-width: 400px) {

  header h1 { font-size: 3rem; }
  header h1::before { font-size: 1.2rem; }

  .face-frame { 
    width: 100%;
    height: 250px;
    clip-path: none;
  }

  .face-frame svg { transform: none; }

  .dialogue { 
    width: 100%;
    height: auto;
    padding: 25px 0;
    clip-path: none;
    filter: brightness(0.9);
  }

  .dialogue p { transform: none; filter: brightness(1.1); }

  body > h1 { font-size: 3rem; }
  #featured2 { grid-template-rows: 2rem auto 5rem auto; }
  
  footer { 
    flex-direction: column; 
    padding: 10% 15%;
  }

}